@CHARSET "ISO-8859-1";
body, input {
	font-family: Segoe UI, Arial, Times;
	font-size: 12pt;
}

input[type=text], input[type=password] {
	width: 200px;
}

input[type=submit] {
	width: 100px;
	font-weight: bold;
	padding: 2px 10px;
}
 fieldset#fieldset_login {
 	margin: auto;
 	width: 250px;
 	padding: 50px;
 }